flows.json
[
    {
        "id": "884e3d17174c73c2",
        "type": "tab",
        "label": "IoTStarterDashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "74e562beba580111",
        "type": "mqtt in",
        "z": "884e3d17174c73c2",
        "name": "",
        "topic": "Game",
        "qos": "0",
        "datatype": "auto",
        "broker": "152e1e6d744154b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "89012625eb95aea3"
            ]
        ]
    },
    {
        "id": "3a068546603b199f",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "dataFromatter",
        "func": "var a=msg.payload;\nvar g=a.split(',')\nvar dataArray=[parseFloat(g[0].replace('X: ','')),parseFloat(g[1].replace('Y: ','')),parseFloat(g[2].replace('Z: ',''))]\nmsg.payload=dataArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 580,
        "wires": [
            [
                "f7743f4d4b0a8a7a",
                "361a9fc5f0781310",
                "e6cdea9347c1a910",
                "dae7206620560bdb"
            ]
        ]
    },
    {
        "id": "456b8921bfd9a326",
        "type": "ui_chart",
        "z": "884e3d17174c73c2",
        "name": "",
        "group": "a27154f70136ed9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer Data (X,Y,Z)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "dae7206620560bdb",
        "type": "debug",
        "z": "884e3d17174c73c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "f7743f4d4b0a8a7a",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "dataAnalyzerX-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[0];\nmsg.topic=\"X-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 560,
        "wires": [
            [
                "456b8921bfd9a326"
            ]
        ]
    },
    {
        "id": "361a9fc5f0781310",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "dataAnalyzerY-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[1];\nmsg.topic=\"Y-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 600,
        "wires": [
            [
                "456b8921bfd9a326"
            ]
        ]
    },
    {
        "id": "e6cdea9347c1a910",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "dataAnalyzerZ-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[2];\nmsg.topic=\"Z-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 640,
        "wires": [
            [
                "456b8921bfd9a326"
            ]
        ]
    },
    {
        "id": "210b97a1df1e38f8",
        "type": "inject",
        "z": "884e3d17174c73c2",
        "name": "clearAll",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 650,
        "y": 740,
        "wires": [
            [
                "76559ffc8bf39c43"
            ]
        ]
    },
    {
        "id": "76559ffc8bf39c43",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "clearChart",
        "func": "var dataArray=msg.payload;\nmsg.payload=[];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 700,
        "wires": [
            [
                "456b8921bfd9a326"
            ]
        ]
    },
    {
        "id": "f5d938aa2b545c52",
        "type": "cloudantplus out",
        "z": "884e3d17174c73c2",
        "name": "",
        "cloudant": "dcd6c8d7c4388239",
        "database": "game",
        "service": "_ext_",
        "payonly": false,
        "operation": "insert",
        "x": 930,
        "y": 300,
        "wires": [
            [
                "dae7206620560bdb"
            ]
        ]
    },
    {
        "id": "fb2bf95cd5e208e0",
        "type": "cloudantplus in",
        "z": "884e3d17174c73c2",
        "name": "",
        "cloudant": "dcd6c8d7c4388239",
        "database": "game",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "1a1b0a85047ca4a8",
                "d096febd117f6ebb"
            ]
        ]
    },
    {
        "id": "306902e8acc8398a",
        "type": "inject",
        "z": "884e3d17174c73c2",
        "name": "view data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "fb2bf95cd5e208e0"
            ]
        ]
    },
    {
        "id": "1a1b0a85047ca4a8",
        "type": "debug",
        "z": "884e3d17174c73c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "1edb460d28b03e69",
        "type": "cloudantplus out",
        "z": "884e3d17174c73c2",
        "name": "",
        "cloudant": "dcd6c8d7c4388239",
        "database": "game",
        "service": "_ext_",
        "payonly": false,
        "operation": "delete",
        "x": 730,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d831cd09cb91a71c",
        "type": "inject",
        "z": "884e3d17174c73c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "1edb460d28b03e69"
            ]
        ]
    },
    {
        "id": "b0aa174d511320a3",
        "type": "inject",
        "z": "884e3d17174c73c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"x\":\"1\",\"y\":2,\"z\":3}",
        "payloadType": "json",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "f5d938aa2b545c52"
            ]
        ]
    },
    {
        "id": "d096febd117f6ebb",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "",
        "func": "var msg1 = 0;\nfor (let i = 0; i < 10; i++) {\n          msg1+= msg.payload[i].payload.x*msg.payload[i].payload.x + msg.payload[i].payload.y*msg.payload[i].payload.y + msg.payload[i].payload.z*msg.payload[i].payload.z\n    }\nmsg.payload[0]=\n{\n    \n       A: msg1\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "1a1b0a85047ca4a8"
            ]
        ]
    },
    {
        "id": "89012625eb95aea3",
        "type": "json",
        "z": "884e3d17174c73c2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "5aaa0e7e64310a89"
            ]
        ]
    },
    {
        "id": "5aaa0e7e64310a89",
        "type": "function",
        "z": "884e3d17174c73c2",
        "name": "",
        "func": "msg.payload =\n{\nX : msg.payload.d.ax,\nY : msg.payload.d.ay,\nZ : msg.payload.d.az,\nSENSORID : msg.payload.d.id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "dae7206620560bdb",
                "f5d938aa2b545c52"
            ]
        ]
    },
    {
        "id": "152e1e6d744154b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a27154f70136ed9d",
        "type": "ui_group",
        "name": "IoTStarter",
        "tab": "03b8dcbd47a56682",
        "order": 1,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcd6c8d7c4388239",
        "type": "cloudantplus",
        "host": "https://apikey-v2-a5191i1mawpubpxhi210c0n8xh44pjtoe2n4z86nbnl:41afb04d6075966d5dbe372e3cf35de7@89aa8ba2-e33d-40e9-8688-efb98e81b804-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "MYSPACE"
    },
    {
        "id": "03b8dcbd47a56682",
        "type": "ui_tab",
        "name": "IoTStarter",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
