game.json
[
    {
        "id": "2c6a31137282f520",
        "type": "tab",
        "label": "game",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "461135e7d1b196dc",
        "type": "mysql",
        "z": "2c6a31137282f520",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "ab5609cbc2b9e4e4"
            ]
        ]
    },
    {
        "id": "85afd93353647cf9",
        "type": "debug",
        "z": "2c6a31137282f520",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab5609cbc2b9e4e4",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.payload = \n{\n    Winer1: msg.payload[0].idClients,\n    Result1: msg.payload[0].result,\n    Winer2: msg.payload[1].idClients,\n    Result2: msg.payload[1].result,\n    Winer3: msg.payload[2].idClients,\n    Result3: msg.payload[2].result\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "85afd93353647cf9",
                "a3ef4a686eb6ee3c",
                "4e225be9133d67b8",
                "ee078fc68ed8e1e1",
                "19c6383e6387d7bf"
            ]
        ]
    },
    {
        "id": "56af59bed74d95d2",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.topic = 'INSERT INTO `game`.`clients`(`idclients`,`x`,`y`,`z`)VALUES(\"'+msg.payload.idClients+'\",'+msg.payload.x+','+msg.payload.y+','+msg.payload.z+');';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 760,
        "wires": [
            [
                "f9422f6f40f56f87"
            ]
        ]
    },
    {
        "id": "50044320c11e0354",
        "type": "mqtt in",
        "z": "2c6a31137282f520",
        "name": "",
        "topic": "Game",
        "qos": "0",
        "datatype": "auto",
        "broker": "152e1e6d744154b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "cbaa9c201b470d1e"
            ]
        ]
    },
    {
        "id": "f9422f6f40f56f87",
        "type": "mysql",
        "z": "2c6a31137282f520",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 510,
        "y": 820,
        "wires": [
            [
                "e2357cea7111799f"
            ]
        ]
    },
    {
        "id": "e2357cea7111799f",
        "type": "debug",
        "z": "2c6a31137282f520",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "953b40ba1e2a18dc",
        "type": "comment",
        "z": "2c6a31137282f520",
        "name": "who wins?",
        "info": "",
        "x": 80,
        "y": 320,
        "wires": []
    },
    {
        "id": "a5a95a06b0579e6f",
        "type": "comment",
        "z": "2c6a31137282f520",
        "name": "inject data to database",
        "info": "",
        "x": 160,
        "y": 760,
        "wires": []
    },
    {
        "id": "3aae6a12ba0cbbf6",
        "type": "inject",
        "z": "2c6a31137282f520",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS clients;",
        "payloadType": "date",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "bdc54da28c70125f"
            ]
        ]
    },
    {
        "id": "bdc54da28c70125f",
        "type": "mysql",
        "z": "2c6a31137282f520",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "85e99779599e2245"
            ]
        ]
    },
    {
        "id": "8a02b0f9574c2fc6",
        "type": "mysql",
        "z": "2c6a31137282f520",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 810,
        "y": 60,
        "wires": [
            [
                "711f540c81484b85"
            ]
        ]
    },
    {
        "id": "711f540c81484b85",
        "type": "debug",
        "z": "2c6a31137282f520",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "b6140e81698e1551",
        "type": "comment",
        "z": "2c6a31137282f520",
        "name": "Start game and xcreate table with attibutes",
        "info": "",
        "x": 200,
        "y": 20,
        "wires": []
    },
    {
        "id": "e3594cca4921909d",
        "type": "inject",
        "z": "2c6a31137282f520",
        "name": "ali",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (\"ali\",1,12,1);",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "4b1b71e10101ec6d"
            ]
        ]
    },
    {
        "id": "4b1b71e10101ec6d",
        "type": "mysql",
        "z": "2c6a31137282f520",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "bd3c946245f378fe"
            ]
        ]
    },
    {
        "id": "bd3c946245f378fe",
        "type": "debug",
        "z": "2c6a31137282f520",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9a467c0d64316eb3",
        "type": "comment",
        "z": "2c6a31137282f520",
        "name": "test inject data to database",
        "info": "",
        "x": 210,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7f37e3547705a69e",
        "type": "inject",
        "z": "2c6a31137282f520",
        "name": "amin",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (\"amin\",1,12,1);",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1160,
        "wires": [
            [
                "4b1b71e10101ec6d"
            ]
        ]
    },
    {
        "id": "b9e28300bbbeb762",
        "type": "inject",
        "z": "2c6a31137282f520",
        "name": "sara",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (\"sara\",1,12,1);",
        "payloadType": "date",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "4b1b71e10101ec6d"
            ]
        ]
    },
    {
        "id": "cbaa9c201b470d1e",
        "type": "json",
        "z": "2c6a31137282f520",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "56af59bed74d95d2"
            ]
        ]
    },
    {
        "id": "a3ef4a686eb6ee3c",
        "type": "ui_text",
        "z": "2c6a31137282f520",
        "group": "07f33f61fa494e79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner 1",
        "format": "{{msg.payload.Winer1}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "abdef4716dd21b1a",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "if(msg.payload == \"showresult\")\n{\n  msg.topic = \"SELECT idClients,         SQRT(SUM(x*x+y*y+z*z)) AS result FROM game.clients GROUP BY idClients ORDER BY result DESC;\"\n  \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "461135e7d1b196dc"
            ]
        ]
    },
    {
        "id": "f8d9049a2601d8a8",
        "type": "ui_button",
        "z": "2c6a31137282f520",
        "name": "",
        "group": "07f33f61fa494e79",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show results",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "2f2ee465f971ccee",
                "83f01a2a2d195c56"
            ]
        ]
    },
    {
        "id": "4e225be9133d67b8",
        "type": "ui_text",
        "z": "2c6a31137282f520",
        "group": "07f33f61fa494e79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner 2",
        "format": "{{msg.payload.Winer2}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "0ba02514c19f3a51",
        "type": "inject",
        "z": "2c6a31137282f520",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ee078fc68ed8e1e1",
        "type": "mqtt out",
        "z": "2c6a31137282f520",
        "name": "",
        "topic": "Result",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "152e1e6d744154b7",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "01fc166708419852",
        "type": "mqtt in",
        "z": "2c6a31137282f520",
        "name": "",
        "topic": "showresult",
        "qos": "2",
        "datatype": "auto",
        "broker": "152e1e6d744154b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 460,
        "wires": [
            [
                "abdef4716dd21b1a"
            ]
        ]
    },
    {
        "id": "2f2ee465f971ccee",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.topic = \"SELECT idClients,         SUM(x*x+y*y+z*z) AS result FROM game.clients GROUP BY idClients ORDER BY result DESC;\"\n  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            [
                "461135e7d1b196dc"
            ]
        ]
    },
    {
        "id": "85e99779599e2245",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.topic = \"CREATE TABLE `game`.`clients` (   `idclients` VARCHAR(45) NULL,   `x` VARCHAR(45) NULL,   `y` VARCHAR(45) NULL,   `z` VARCHAR(45) NULL);INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (1,0,0,0); INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (2,0,0,0);INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (3,0,0,0);\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "8a02b0f9574c2fc6"
            ]
        ]
    },
    {
        "id": "19c6383e6387d7bf",
        "type": "ui_text",
        "z": "2c6a31137282f520",
        "group": "07f33f61fa494e79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner 3",
        "format": "{{msg.payload.Winer3}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0c39ce8c442620a",
        "type": "ui_button",
        "z": "2c6a31137282f520",
        "name": "",
        "group": "07f33f61fa494e79",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "756b4f76165d03dc",
                "2040d3c9a8b6876b"
            ]
        ]
    },
    {
        "id": "756b4f76165d03dc",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.topic= \"DROP TABLE IF EXISTS clients;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "bdc54da28c70125f"
            ]
        ]
    },
    {
        "id": "25294db979b07bc2",
        "type": "ui_template",
        "z": "2c6a31137282f520",
        "group": "07f33f61fa494e79",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "83f01a2a2d195c56",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.payload=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "25294db979b07bc2"
            ]
        ]
    },
    {
        "id": "2040d3c9a8b6876b",
        "type": "function",
        "z": "2c6a31137282f520",
        "name": "",
        "func": "msg.payload=\"New game started!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "25294db979b07bc2"
            ]
        ]
    },
    {
        "id": "7d26250c030727c3",
        "type": "MySQLdatabase",
        "name": "game",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "game",
        "tz": "",
        "charset": "utf8mb4"
    },
    {
        "id": "152e1e6d744154b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "07f33f61fa494e79",
        "type": "ui_group",
        "name": "game",
        "tab": "d5a2f3f13afaea76",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5a2f3f13afaea76",
        "type": "ui_tab",
        "name": "IOT Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
